<div class="col-sm-8 col-sm-offset-2">
	<h1>Notifications</h1>
	<% if @notifications.present? %>
		<div class="all-notification">
			<div class="panel panel-default">
				<div class="panel-body">
					<% @notifications.each do |notification| %>
						<%= render partial: "notifications/#{notification.notifiable_type.underscore.pluralize}/#{notification.action}", locals: {notification: notification} %>
					<hr>
					<% end %>
					<div class = "text-center">
					  <%= will_paginate @notifications %>
					</div>
				</div>
			</div>
		</div>
	<% else %>
		<div class="alert alert-danger">
		  You have no notifications yet!
		</div>
	<% end %>
</div>
