<div class="col-md-10 col-md-offset-1">
	<div id="my-posts">
	  <%= render @posts %>
	</div><!-- my posts id -->

	<div class = "text-center" id="infinite-scrolling">
	 	<% unless @posts.total_pages < 2 %>
			<%= link_to 'Show More Posts', posts_path(:page => 2), :remote => true, :id => 'show_more_link', :class => 'btn btn-default btn-lg btn-block' %>
		<% end %>
	</div>
</div>
