<div class="col-md-10 col-md-offset-1">
	<div id="my-posts">
	  <%= render @posts %>
	</div><!-- my posts id -->

	<div class = "text-center" id="infinite-scrolling">
    <%= will_paginate @posts %>
	</div>
</div>
