$footer-height: 45px;

body {
  background-color: #FAFAFA;
}

.navbar-default {
  background-color: #ffffff;
  border-bottom: 1px solid #dbdbdb;
}

.navbar {
  min-height: 78px;
  padding: 12px;
}
.brand {
  font-family: 'Satisfy', cursive;
  font-size: 28px;
  vertical-align: middle;
}

.logo a {
  text-decoration: none;
}

.head-size {
  font-size: 28px;
  vertical-align: middle;  
}

.photo {
  width: 100%;
  max-height: 100%;
}

.post_box {
  background-color: white;
  border: 1px solid #edeeee;
  border-radius: 3px;
  margin: 60px 0px;
  margin-left: -1px;
  margin-right: -1px;
}

.post_header{
  height: 64px;
  padding: 14px 20px;
  font-weight: 600;
}

.post_body{
  padding: 10px 24px 0px 24px;
}

.post_comments {
  padding: 10px 25px;
}

.timestamp {
  color: #a5a7aa;
  font-weight: 500;
}

.prof_header{
  height: 100%;
  padding: 60px 20px 0px;
  margin-bottom: 45px;
}

.username {
  color: #4b4f54;
  font-weight: 300;
  font-size: 34px;
  line-height: 40px;
}

.count{
  color: #34373b;
  font-weight: 600;
}

.prof_show {
  object-fit: cover;
  width: 190px;
  height: 200px;
  margin-top: 30px;
}

.prof_post_box {
  margin-bottom: 50px;
}

.user_edit_button {
  margin-top: 25px;
  border-color: #818488;
  color: #818488;
}

.prof_pic {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.prof_pic_small img {
  border-radius: 50%;
  height: 28px;
  width: 28px;
  object-fit: cover;
}

.header_pic_small img{
  border-radius: 10px;
  height: 36px;
  width: 36px;
  object-fit: cover;
}

.cmt-del-btn {
  float: right;
  color: #c7c7c7;
}

a:hover, a:focus {
  text-decoration: none;
}

#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -$footer-height;
  /* Pad bottom by footer height */
  padding: 0 0 $footer-height;
}

.footer {
  height: $footer-height;
}
 
html, body {
  height: 100%;
}

.post_like {
  .fa {
    font-size: 20px;
  }
}

.heart {
  color: #ed4956
}

.anti-heart {
  color: #a9a9a9;
}

.fa-instagram {
  padding: 0px 0px 0px 10px;
}

.header a{
  color: #4f4f4f;
}

#infinite-scrolling img{
  height: 7%;
  width: 7%;
}

/*  photo upload image preview  */
#target img {
  height: 100%;
  width: 100%;
}

/* mobile responsive css */
@media only screen and (max-width: 768px) {
    .nav_links {
        margin: 0px 10px;
    }

    .prof_show {
      width: 60px;
      height: 70px;
      margin-top: 30px;
    }
}

@media only screen and (max-width: 1160px) {
  .prof_show {
      width: 160px;
      height: 150px;
    }
}

@media only screen and (max-width: 990px) {
  .prof_show {
      width: 260px;
      height: 260px;
    }
}

@media only screen and (max-width: 812px) {
  .prof_show {
      width: 200px;
      height: 210px;
    }
}

@media only screen and (max-width: 812px) {
  .prof_show {
      width: 150px;
      height: 150px;
    }
}

@media only screen and (max-width: 458px) {
  .prof_show {
      width: 130px;
      height: 125px;
    }
}

@media only screen and (max-width: 400px) {
  .prof_show {
      width: 100px;
      height: 100px;
    }
}

@media only screen and (max-width: 310px) {
  .prof_show {
      width: 70px;
      height: 70px;
    }
}

@media only screen and (max-width: 310px) {
  .prof_show {
      width: 40px;
      height: 40px;
    }
}
