$footer-height: 45px;

body {
  background-color: #FAFAFA;
}

nav {
  border-bottom: 1px solid #dbdbdb;
  background-color: #ffffff;
  height: 76px;
}

.brand {
  font-family: 'Satisfy', cursive;
  font-size: 26px;
  vertical-align: middle;
}

.nav_links {
  vertical-align: middle;
  font-size: 16px;
  font-weight: 500;
  margin: 0 20px;
}

.nav_wrapper {
  line-height: 78px;
}

.photo {
  width: 100%;
  max-height: 100%;
}

.post_box {
  background-color: white;
  border: 1px solid #edeeee;
  border-radius: 3px;
  margin: 60px 0px;
  margin-left: -1px;
  margin-right: -1px;
}

.post_header{
  height: 64px;
  padding: 14px 20px;
  font-weight: 600;
}

.post_body{
  padding: 10px 24px 0px 24px;
}

.post_comments {
  padding: 10px 25px;
}

.timestamp {
  color: #a5a7aa;
  font-weight: 500;
}

.prof_header{
  height: 100%;
  padding: 60px 20px 0px;
  margin-bottom: 45px;
}

.username {
  color: #4b4f54;
  font-weight: 300;
  font-size: 34px;
  line-height: 40px;
}

.count{
  color: #34373b;
  font-weight: 600;
}

.prof_show {
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.prof_post_box {
  margin-bottom: 50px;
}

.user_edit_button {
  margin-top: 25px;
  border-color: #818488;
  color: #818488;
}

.prof_pic {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.prof_pic_small {
  border-radius: 50%;
  height: 28px;
  width: 28px;
}

.col-xs-6{
  float: none;
}

.content-photo {
  width: 100%;
}

.cmt-del-btn {
  float: right;
  color: #c7c7c7
}

#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -$footer-height;
  /* Pad bottom by footer height */
  padding: 0 0 $footer-height;
}

.footer {
  height: $footer-height;
}
 
html, body {
  height: 97%;
}

.field {
  padding: 5px;
}