body {
  background-color: #FAFAFA;
}

nav {
  border-bottom: 1px solid #dbdbdb;
  background-color: #ffffff;
  height: 76px;
}

.brand {
  font-family: 'Satisfy', cursive;
  font-size: 26px;
  vertical-align: middle;
}
