body {
  background-color: #FAFAFA;
}

nav {
  border-bottom: 1px solid #dbdbdb;
  background-color: #ffffff;
  height: 76px;
}

.brand {
  font-family: 'Satisfy', cursive;
  font-size: 26px;
  vertical-align: middle;
}

.nav_links {
  vertical-align: middle;
  font-size: 16px;
  font-weight: 500;
  margin: 0 20px;
}

.nav_wrapper {
  line-height: 78px;
}

.photo {
  width: 100%;
  max-height: 100%;
}

.post_box {
  background-color: white;
  border: 1px solid #edeeee;
  border-radius: 3px;
  margin: 60px 0px;
  margin-left: -1px;
  margin-right: -1px;
}

.post_header{
  height: 64px;
  padding: 14px 20px;
  font-weight: 600;
}

.post_body{
  padding: 10px 24px 0px 24px;
}

.post_comments {
  padding: 10px 25px;
}

.timestamp {
  color: #a5a7aa;
  font-weight: 500;
}