$footer-height: 45px;

body {
  background-color: #FAFAFA;
}

nav {
  border-bottom: 1px solid #dbdbdb;
  background-color: #ffffff;
  height: 76px;
}

.brand {
  font-family: 'Satisfy', cursive;
  font-size: 28px;
  vertical-align: middle;
}

.logo a {
  text-decoration: none;
}

.head-size {
  font-size: 28px;
  vertical-align: middle;  
}

.nav_links {
  vertical-align: middle;
  font-size: 16px;
  font-weight: 500;
  margin: 0 20px;
}

.nav_links a {
  text-decoration: none;
}

.nav_wrapper {
  line-height: 78px;
}

.photo {
  width: 100%;
  max-height: 100%;
}

.post_box {
  background-color: white;
  border: 1px solid #edeeee;
  border-radius: 3px;
  margin: 60px 0px;
  margin-left: -1px;
  margin-right: -1px;
}

.post_header{
  height: 64px;
  padding: 14px 20px;
  font-weight: 600;
}

.post_body{
  padding: 10px 24px 0px 24px;
}

.post_comments {
  padding: 10px 25px;
}

.timestamp {
  color: #a5a7aa;
  font-weight: 500;
}

.prof_header{
  height: 100%;
  padding: 60px 20px 0px;
  margin-bottom: 45px;
}

.username {
  color: #4b4f54;
  font-weight: 300;
  font-size: 34px;
  line-height: 40px;
}

.count{
  color: #34373b;
  font-weight: 600;
}

.prof_show {
  width: 100%;
  height: 100%;
  margin-top: 30px;
}

.prof_post_box {
  margin-bottom: 50px;
}

.user_edit_button {
  margin-top: 25px;
  border-color: #818488;
  color: #818488;
}

.prof_pic {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.prof_pic_small img {
  border-radius: 50%;
  height: 28px;
  width: 28px;
}

.header_pic_small img{
  border-radius: 10px;
  height: 36px;
  width: 36px;
}

.cmt-del-btn {
  float: right;
  color: #c7c7c7
}

#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -$footer-height;
  /* Pad bottom by footer height */
  padding: 0 0 $footer-height;
}

.footer {
  height: $footer-height;
}
 
html, body {
  height: 97%;
}

.post_like {
  .fa {
    font-size: 20px;
  }
}

.heart {
  color: #ed4956
}

.anti-heart {
  color: #a9a9a9;
}

.fa-instagram {
  padding: 0px 0px 0px 10px;
}

.header a{
  color: #4f4f4f;
}

/*  devise form css  */

.btn {
  margin: 5px 0px 5px 0px;
}

input[type="text"],
input[type="password"],
input[type="email"],
inputfile [type=file],
textarea,
select {
   display: block;
   padding: 10px 7px;
   margin: 0 0 24px 0;
   vertical-align: middle;
   min-width: 225px;
  max-width: 100%;
   font-size: 15px;
   line-height: 15px;
  width: 90%;
  border-radius: 5px;
}

#infinite-scrolling img{
  height: 7%;
  width: 7%;
}
