.unread {
  background: #fff7f7;
  border-left: 3px solid red;
  padding: 0.5em 10px;
}
.unread:before {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.unread p {
  display: inline;
}
